.overlay{
    position: fixed;
    width: 100vw;
    height: 50vw;
    top:0;
    left:0;
    background-color: rgba(61, 88, 161, 0.527);
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay.close {
    display: none;
  }
  
  .popup {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 60vh;
    width: 30vw;
    overflow: auto;
    overflow-x: hidden;
  }

ul{
display: inline-flex;
  list-style: none;
  width: 85%;
}

li{
  float:left;
  margin-right: 10px;
}

.icon{
  width:20px;
  height:20px;
  cursor: pointer;
}

.centered{
align-items: center;}

