
    /* li{
      float:left !important;
      margin-right: 10px !important;
    }
    
    ul{
      display: flex !important;
      flex-direction: column !important;
      list-style: none !important;
      flex-wrap: wrap !important;
  padding-left: 1rem !important;
  width:auto !important;
        }
         */

.plDiv{
  display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 360px; */
   
}