header {
    width: 960px;
    margin-right: 10px;
    text-align: right;
}

.playlist{
    width: 200px;
   text-align: right;
   color: azure;
} 

h3{
    text-align: -webkit-center;
    font-style: oblique;
    color: rgba(202, 238, 245, 0.945);
}

.name{
    color: rgba(202, 238, 245, 0.945);
    font-style: oblique;
}

.playlistsDiv{
    display: flex;
    flex-direction: column;
    float: left;
    border: 1px solid rgba(205, 205, 219, 0.404);
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow:scroll;
    overflow-x: hidden;
    height: 40vh;
    color: #cdc8c2;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(6, 32, 82,0.3);
}

.centeredContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    align-self: center;
}

.songsDiv{
    font-size: 48px;
    color: aliceblue;
    font-style: oblique;
    overflow:scroll;
    overflow-x: hidden;
    height: 90vh;
}

.plTitle{
    margin-left: 20px;
}

.playlistsAndSongs{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.songPlayer{
    float: right;
    border: 1px solid rgba(205, 205, 219, 0.404);
    border-radius: 15px;
    padding: 8px;
    margin-left: 5px;
    height: 48vh;
      color: #cdc8c2;
      font-family: sans-serif;
      font-size: 18px;
  }
  .homePlayer{
    display: flex;
    flex-direction: column;
}
  