.unselectedList{
    cursor: pointer;
    color:rgba(90, 99, 223, 0.664);
}
.selectedList{
    cursor: pointer;
    color:rgba(242, 244, 247, 0.925);
}
.plImg{
    width:60px;
    height: 35px;
}


.liDiv{
    width: 150px;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  }

  