.divHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
     margin-right: 30px;
     color: rgba(21, 116, 119, 0.521);
     font-style: oblique;
     border-bottom: 1px solid rgb(230, 230, 236);
 }
 
 .imgHeader{
     width: 190px;
     height: 55px;
 }
 