/* body{
    background-color: lightslategray;
    color: aliceblue;
} */

.input {
    background-color: white;
    border: 2px solid rgb(191, 195, 212);
    color: rgba(35, 12, 161, 0.925);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 120px;
  }

.button {
    /* background-color: #00d4b7; */
    background: rgb(0,239,147);
background: linear-gradient(90deg, rgba(0,239,147,1) 24%, rgba(0,212,183,1) 42%, rgba(0,212,255,1) 75%);
    border: 2px solid rgb(191, 195, 212);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 120px !important;
    width: 150px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

.container {
    display: flex;
    flex-direction: column;
}

.center{
  justify-items: center;
}