body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    /* background-image: url('./assets/images/20536933.jpg') !important;
    background-repeat:no-repeat !important;
    background-size: cover !important; */
  
      background:
          linear-gradient(rgba(17, 17, 17, 0.822), transparent),
          linear-gradient(to top left, rgba(17, 150, 17, 0.753), transparent),
          linear-gradient(to top right, rgba(41, 41, 204, 0.856), transparent) !important;
      background-blend-mode: screen !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.close {
  display: none;
}

.popup {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
} */
